

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #aeaeae,#2b2b2b);
}

.app {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  background: black;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  box-shadow: 0 0 20px rgba(0,0,0,1);
  color: white;
}

.app2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
}

#btn {
    width: 100px;
    height: 50px;
    border: 2px, solid, white;
    background: transparent;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: grab;
    transition: 0.2s;
}

#btn:hover {
    transform: scale(1.05);
}

#btn:active {
    cursor: grabbing;
    transform: scale(1.00);
}

#p {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#output {
    font-size: 19px;
    text-align: center;
}

#time {
    color: yellow;
}
